.main-header {
    background: rgba(250, 140, 50, 0.2);
    box-shadow: inset 0 0 0 2px rgb(250, 140, 50, 0.2);
}

/* .container {
    background: rgba(100, 10, 120, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 10, 120);
} */

/* .main-navigation {
    background: rgba(10, 200, 150, 0.2);
    box-shadow: inset 0 0 0 2px rgb(10, 200, 150);
}

.main-logo {
    background: rgba(100, 10, 50, 0.2);
    box-shadow: inset 0 0 0 2px rgb(100, 10, 50);
}

.site-navigation-list,
.user-navigation-list {
    background: rgba(50, 70, 200, 0.2);
    box-shadow: inset 0 0 0 2px rgb(50, 70, 200);
} */