body {
    min-width: 1200px;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #283136;

    background-color: #ffffff;

}

a {
    text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
position: absolute;

width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;

white-space: nowrap;

clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.button {
    display: block;
    width: 240px;
    padding: 16px 0;

    font-size: 16px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;

    background-color: #fb565a;
    border-radius: 3px;
    border: none;
}

.button:hover,
.button:focus {
    background-color: #e74246;
}

.button:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: #d7373b;
    box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Шапка сайта */

.page-title {
    margin: 0 auto;
    padding: 0;
    padding-top: 70px;
    padding-bottom: 110px;


    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    text-align: center;
    color: #000000;

    background-color: #eeeeee;
}

.main-header {
    background-color: #eeeeee;
}

.main-logo img:hover {
    opacity: 0.8;
}

.main-logo img:active {
    opacity: 0.3;
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    width: 1160px;
    padding-top: 50px;
}

.site-navigation-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;

    min-width: 440px;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    list-style: none;
}

.navigation-item-current::after {
    content: "";

    display: block;
    width: inherit;
    height: 2px;

    background-color: #fb565a;
}

.user-navigation-list {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    min-width: 160px;
    margin: 0;
    padding: 0;
    padding-top: 10px;

    list-style: none;
}

.bash-link {
    box-sizing: border-box;
    padding-left: 45px;
}

.bash-link::before {
    content: "";

    position: absolute;
    top: 32px;
    left: 45px;
    width: 20px;
    height: 20px;

    background-image: url("../svg/cart-icon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.site-navigation-list li a,
.user-navigation-list li a{
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;

    background-color: #eeeeee;
}

.site-navigation-list li a:hover,
.user-navigation-list li a:hover {
    color: #fb565a;
}

.site-navigation-list li a:active,
.user-navigation-list li a:active {
    color: #000000;
    opacity: 0.3;
}

.active {
    position: relative;
}

.active::after {
    content: "";

    position: absolute;
    top: 33px;
    left: 2px;
    display: block;

    width: 74px;
    height: 2px;
    background-color: #fb565a;
}

/* Кейвижуал */

.main-keyvisual {
    position: relative;

    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;

    width: 160px;
    height: 18px;

    text-align: center;
    font-size: 0;
    transform: translate(-50%);
}

.slider-controls i {
    position: relative;

    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;

    border-radius: 50%;
    cursor: pointer;
}

.slider-controls i::after {
    content: "";

    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;

    width: 18px;
    height: 18px;

    background: #ffffff;

    border-radius: 50%;
}

.slider-controls .active::before {
    content: "";

    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;

    width: 4px;
    height: 4px;
    margin: -4px;

    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.slider-item {
    display: none;
    padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
    display: block;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 10px;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}
.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;

    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 37px;
}

.slider-item-button {
    background-color: #fb565a;
}

/* Услгуги */

.main-services {
    background-image: url("../img/divide.png");
    background-repeat: no-repeat;
    background-position: 20px 506px;
    padding-bottom: 87px;
    margin-bottom: 36px;
}

.services-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;

    list-style: none;
}

.services-item {
    position: relative;

    width: 300px;
    margin-right: 60px;
    margin-top: 80px;
}

.services-item:first-child {
    background-image: url("../img/service1.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services-item:nth-child(2) {
    background-image: url("../img/service2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services-item:last-child {
    background-image: url("../img/service3.png");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.services-item h3 {
    position: absolute;
    top: 146px;
    left: -1px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.services-item p {
    margin-top: 215px
}

.btn-services {
    width: 160px;
    margin-top: 33px;
}

.btn-green {
    background-color: #00ca74;
}

.btn-green:hover,
.btn-green:focus {
    background-color: #00bc6c;
}

.btn-yellow {
    background-color: #efc84a;
}

.btn-yellow:hover,
.btn-yellow:focus {
    background-color: #eab534;
}

/* Описание студии */

.index-columns {
    display: flex;
    justify-content: space-between;

    padding-bottom: 55px;

    background-image: url("../img/divide.png");
    background-repeat: no-repeat;
    background-position: 20px 486px;
}

.studio-topic {
    display: block;
    padding-top: 34px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: #000000;

    background-color: #ffffff;
}

.studio-description {
    display: block;
    margin: 0;
    padding-top: 32px;
}

.order-topic {
    margin: 0;
    padding-top: 40px;

    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.order-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.order-item {
    padding-left: 35px;
    padding-top: 24px;
}

.order-item::after {
    content: "";

    display: block;
    position: relative;
    top: -13px;
    left: -34px;

    width: 25px;
    height: 2px;
    background-color: #fb565a;
}

/* Статистика */

.main-statistic h4 {
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 29px;
    padding-left: 17px;

    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.statistic-table {
    margin-top: 37px;
    min-width: 360px;
    min-height: 129px;
}

.statistic-table tr:first-child td {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.statistic-table tr:last-child td {
    line-height: 18px;
}

/* Партнеры */

.main-partners {
    background: url("../img/divide.png") 20px 179px no-repeat,
}

.partners-list {
    display: flex;
    justify-content: space-between;

    margin: 0;
    padding: 0;
    padding-bottom: 38px;

    list-style: none;
}

.partners-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    width: 260px;
    padding-top: 48px;
}



.partners-item:not(:nth-child(4n))::after {
    content: "";
    position: absolute;
    top: 63px;
    left: 279px;

    width: 2px;
    height: 52px;

    background-color: #eeeeee;
}

.partners-item img {
    opacity: 0.2;
}

.partners-item img:hover {
    opacity: 1;
}

.partners-item img:active {
    opacity: 0.1;
}

/* Блок с картой */

.main-map {
    position: relative;

    width: 1200px;
    margin: 0 auto;
    margin-top: 77px;
    padding: 0;
}

.map-image {
    width: 1200px;

    overflow: hidden;
}

.map-description {
    position: absolute;
    top: 54px;
    left: 19px;

    width: 320px;
    min-height: 308px;

    background-color: #ffffff;
}

.map-description h4 {
    margin: 0;
    padding: 0;
    padding-top: 49px;
    padding-left: 51px;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.map-description p {
    margin: 0;
    padding: 0;
    padding-top: 22px;
    padding-left: 53px;

    line-height: 18px;
    color: #666666;

    background-color: #ffffff;
}

.map-description-btn {
    margin-top: 34px;
    margin-left: 51px;

    width: 219px;
    height: 50px;
}

/* Фильтр товаров */

.filter {
    width: 260px;
}

.filter-item {
    margin: 0;
    margin-top: 55px;
    padding: 0;

    border: none;
}


.filter-item:last-of-type { /* Ради пиксельперфекта */
    margin-top: 42px;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.range-controls {
    position: relative;

    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;

    background-color: #f1f1f1;

    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;

    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;

    background: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;

    width: 4px;
    height: 4px;
    padding: 0;

    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 160px;
}


.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;

    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;

    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.filter ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.filter-option {
    padding-top: 15px;
    padding-left: 35px;
}

.filter-input {
    line-height: 20px;
}

.filter-label {
    position: relative;
}

.filter-input-radio + .filter-label-radio::before {
    content: "";

    display: block;
    position: absolute;
    top: -3px;
    left: -36px;

    width: 25px;
    height: 25px;

    background-image: url("../svg/radio-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-input-radio:checked + .filter-label-radio::after {
    content: "";

    display: block;
    position: absolute;
    top: -3px;
    left: -36px;

    width: 25px;
    height: 25px;

    background-image: url("../svg/radio-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-input-checkbox + .filter-label-checkbox::before {
    content: "";

    display: block;
    position: absolute;
    top: -3px;
    left: -36px;

    width: 25px;
    height: 25px;

    background-image: url("../svg/checkbox-off.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-input-checkbox:checked + .filter-label-checkbox::after {
    content: "";

    display: block;
    position: absolute;
    top: -3px;
    left: -36px;

    width: 25px;
    height: 25px;

    background-image: url("../svg/checkbox-on.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    opacity: 0.4;
    cursor: pointer;
}

.filter-option:hover .filter-input-radio + .filter-label-radio::before,
.filter-option:hover .filter-input-radio:checked + .filter-label-radio::after,
.filter-option:hover .filter-input-checkbox + .filter-label-checkbox::before,
.filter-option:hover .filter-input-checkbox:checked + .filter-label-checkbox::after {
    opacity: 1; 
}


.btn-filter {
    width: 100%;
    margin-top: 55px;
    
    color: #000000;

    background-color: #eeeeee; 
}

.btn-filter:hover,
.btn-filter:focus {
    background-color: #dfdfdf;
}

.btn-filter:active {
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

/* Сортировка */

.catalog-sort {
    display: flex;
    justify-content: space-between;

    margin-top: 55px;
}

.sort-topic {
    margin: 0;
    padding: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;

    background-color: #ffffff;
}

.sort-list-wrapper {
    display: flex;
    justify-content: space-between;

    min-width: 360px;
}

.sort-type-list {
    display: flex;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
    min-width: 280px;

    list-style: none;
}

.sort-type-item {
    margin-right: 26px;

    opacity: 0.3;
}

.sort-type-item a {
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
}

.sort-direction-list {
    display: flex;
    align-items: center;

    margin: 0;
    padding: 0;
    min-width: 60px;

    list-style: none;
}

.sort-direction-item {
    margin-left: 18px;
    width: 11px;
    height: 10px;

    opacity: 0.3;
    cursor: pointer;
}

.direction-down {
    background-image: url("../svg/icon-down-dir.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.direction-up {
    background-image: url("../svg/icon-up-dir.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}

.sort-type-item:hover,
.sort-type-item:focus,
.sort-direction-item:hover,
.sort-direction-item:focus {
    opacity: 0.6;
}

.sort-type-item:active,
.sort-direction-item:active,
.type-active {
    opacity: 1;
}

/* Каталог товаров */

.catalog {
    width: 760px;
}

.catalog-columns {
    display: flex;
    justify-content: space-between;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 50px;

    list-style: none;
}

.catalog-item {
    position: relative;
    
    width: 360px;
    margin-bottom: 30px;
}

.catalog-item img {
    display: block;
    margin-top: -7px;
}

.catalog-item-hover {
    position: absolute;
    bottom: 0;
    z-index: -1;

    width: 100%;

    background-color: #eeeeee;
}

.catalog-item:hover.catalog-item svg path,
.catalog-item:hover .catalog-item-hover {
    fill: #4d4d4d;
    z-index: 2;
}

.catalog-item h3 {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 0;

    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: #000000;

    background-color: #eeeeee;
}

.catalog-item p {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;

    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #666666;

    background-color: #eeeeee;
}

.catalog-item .button {
    width: 200px;
    margin: auto;
    margin-bottom: 45px;
}

.pagination-list {
    display: flex;
    margin: 0;
    margin-top: 30px;
    margin-bottom: -18px;
    padding: 0;

    list-style: none;
}

.pagination-item {
    position: relative;

    box-sizing: border-box;
    width: 50px;
    height: 50px;
    margin-right: 11px;

    background-color: #eeeeee;
    border: 3px solid #eeeeee;
    border-radius: 2px;

}

.pagination-list li:not(.pagination-item-current):hover {
    background-color: #dfdfdf;
    border: 3px solid #dfdfdf;
}

.pagination-item-current {
    background-color: #ffffff;
    border: 3px solid #dbdbdb;
}

.pagination-list li:not(.pagination-item-current):active {
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    background-color: #d5d5d5;
    border-top: rgba(0, 1, 1, 0.1);
    box-shadow: 0px 3px 0px 0px rgba(0, 1, 1, 0.1) inset;
}

.pagination-next {
    width: 260px;

    text-transform: uppercase;
}

.pagination-item a {
    display: block;
    padding: 15px 17px;

    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #000000;
}

.pagination-next a {
    padding: 15px 75px;
}

/* Футер */

.main-footer {
    display: flex;
    align-items: center;

    min-height: 203px;
}

.social-list {
    display: flex;
    justify-content: space-between;

    width: 260px;
    margin: 0;
    padding: 0;
    margin-right: 140px;

    list-style: none;
}

.social-item {
    position: relative;
    width: 80px;
    height: 80px;
}

.social-item a {
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;

    background-color: #e1e1e1;
}

.social-item a:hover,
.social-item a:focus {
    background-color: #e74246;
}

.social-item a:active {
    background-color: #d7373b;
}

.social-item a:active img {
    opacity: 0.3;
} 

.social-item img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.offer-wrapper {
    width: 600px;
}

.offer-topic {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.offer-description {
    margin: 0;
    padding: 0;
    padding-top: 10px;


    line-height: 22px;
    color: #444444;

    background-color: #ffffff;
}

/* Модальное окно "Напишите нам" */

.modal-write {
    position: fixed;
    top: 20%;
    left: 25%;
    z-index: 100;

    display: none;
    width: 960px;

    background-color: #ffffff;
    box-shadow: 0px 20px 40px 0px rgba(0, 1, 1, 0.75);
}

.modal-write h2 {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    padding-left: 98px;

    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.write-us {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;

    width: 760px;
    min-height: 365px;
}

.input-item {
    margin: 0;
    padding: 0;
}

.input-item:not(:nth-child(3)) {
    width: 360px;

    margin-top: 40px;
}

.input-item:nth-child(3) {
    width: 760px;
    margin-top: 30px;
}

.input-item label {
    line-height: 18px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}

.input-item input {
    height: 50px;
}

.input-item input,
.input-item textarea {
    display: block;
    width: 100%;
    resize: none;

    box-sizing: border-box;
    margin-top: 7px;
    padding: 10px 10px;

    line-height: 18px;
    color: #444444;

    border: 2px solid #d7dcde;
}

.input-item input:hover,
.input-item textarea:hover {
    border: 2px solid #b4b9bb;
}

.input-item input:focus,
.input-item textarea:focus {
    outline: none;
    border: 2px solid #000000;
}

.modal-close {
    position: absolute;
    top: 80px;
    right: 90px;

    width: 21px;
    height: 21px;

    font-size: 0;

    background-image: url("../svg/close-cross.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    opacity: 0.3;

    cursor: pointer;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.1;
}

.modal-write .button {
    width: 260px;

    margin-top: 50px;
    margin-bottom: 85px;
}